.titulo {
    justify-content: center;
    text-align: center;
}

.titulo h1{
    font-size: 3rem;
    font-family: 'Righteous', cursive;
    margin-top: 2%;
}

.titulo h2 {
    font-family: 'Righteous', cursive;
    margin-top: 2%;
}

.titulo .color-es {
    color: rgb(0, 110, 130);
}

.row.align-items-md-stretch {
    text-align: center;
    margin-top: 7%;

}

.row.align-items-md-stretch .col-md-6 {
    background-color: rgba(229, 229, 229, 0.88);
    padding: 5%;
    border-radius: 2.5%;
}

.col-md-6 h3{
    color: green;
}

.col-md-6 p {
    color: rgb(75, 75, 75);
    font-size: 1.2rem;
}

.row.align-items-md-stretch img {
    width: 660px;
}

.row.align-items-md-stretch img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.35);
}

.principal-menu h1{
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    color: rgb(0, 110, 130);
    padding-top: 3%;
    padding-bottom: 1%;
    
}

.principal-menu p {
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 3%;
    font-family: 'PT Sans', sans-serif;
        
}

.principal-menu h2 {
    color: rgb(0, 110, 130);
    padding-left: 4%;
    padding-top: 3%;

}

.principal-menu img{
    display: block;
    margin: 0px auto;
    width: 100%;
    max-width: 1200px;
    border-radius: 2%;
    margin-top: 2%;
}

.principal-menu img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.02);
}


.contatos h1 {
    font-size: 1.5rem;
    padding-left: 1%;
    font-family: 'Ubuntu', sans-serif;
}

.contatos {
    background-color: rgb(252, 251, 251);
    margin-top: 7%;
}
.contatos li {
    color: rgb(0, 110, 130);
}
.contatos li a {
    text-decoration: none;
}

.contatos a:link, a:visited,  a:hover, a:active {
    color: #000000;
}

.rodape h3{
    text-align: center;
    font-size: 1.1rem;
    font-family: 'PT Sans', sans-serif;
    color: rgb(0, 110, 130);
    background-color: rgb(250, 250, 250);
}

.login img {
    max-width: 350px;
    margin: 13%;
    width: 100%;
    border-radius: 5%;
    
}

#slider {


    width: 100%;
    border-width: 30px;
    height: 60vw;
    max-height: 700px;
    position: relative;
}

#slider img {

    opacity: 0;
    position: absolute;
    width: 98%;
    margin-left: 1%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: opacity 800ms;
}

#slider img.selected {
    opacity: 1;
}

/* SLIDER MANUAL E AUTOMATICO A PARTIR DAQUI */

.slider-menu {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    
}

.slides {
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 2s;
}

.slide img {
    width: 800px;
    height: 500px;

}


/* css botao manual */

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn {
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #40D3DC;
}


#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

/* Slider Automatico */

.navigation-auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;

}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #40D3DC;
}


/* NAVBAR NOVA */

nav{
    position: relative;
    margin: 0 auto 0;
    width: 100%;
    height: 50px;
    background: #dddddd;
    border-radius: 8px;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0.1);
}

nav a{
    font-size: 15px;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 50px;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
}

nav .animation{
    position: absolute;
    height: 5px;
    bottom: 0;
    z-index: 0;
    background: #1abc9c;
    width: 100px;
    border-radius: 8px;
    transition: all .5s ease 0s;

}

a:nth-child(1){
    width: 100px;
}
nav .start-home,a:nth-child(1):hover~.animation {
    width: 100px;
    left: 0px;
}

a:nth-child(2){
    width: 110px;
}

nav .start-sobre,a:nth-child(2):hover~.animation {
    width: 110px;
    left: 100px;
}

a:nth-child(3){
    width: 100px;
}

nav .start-login,a:nth-child(3):hover~.animation {
    width: 100px;
    left: 210px;
}

a:nth-child(4){
    width: 160px;
}

nav .start-contatos,a:nth-child(4):hover~.animation {
    width: 160px;
    left: 310px;
}